modbusnodered.json
[{"id":"71402876.f639f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"61f122d1.d5a62c","type":"function","z":"71402876.f639f8","name":"split \",\"","func":"var str =  String(msg.payload);\n\nvar str0;\nvar str1;\nvar str2;\nvar str3;\nvar str4;\nvar str5;\nvar str6;\nvar str7;\nvar str8;\nvar str9;\n\nvar res = str.split(\",\");\n\nstr0 = { payload:res[0] } ;\nstr1 = { payload:res[1] } ;\nstr2 = { payload:res[2] } ;\nstr3 = { payload:res[3] } ;\nstr4 = { payload:res[4] } ;\nstr5 = { payload:res[5] } ;\nstr6 = { payload:res[6] } ;\nstr7 = { payload:res[7] } ;\nstr8 = { payload:res[8] } ;\nstr9 = { payload:res[9] } ;\n\nreturn [str0,str1,str2,str3,str4,str5,str6,str7,str8,str9];\n","outputs":"10","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":540,"wires":[[],[],["8180cbcd.ec8488"],[],[],["db763799.0e4e68"],[],[],[],[]]},{"id":"7a92a5ff.bec64c","type":"modbustcp-read","z":"71402876.f639f8","name":"ESP-Slave","topic":"","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"1","rateUnit":"s","server":"4b3785a8.f1510c","x":570,"y":460,"wires":[["61f122d1.d5a62c"]]},{"id":"8180cbcd.ec8488","type":"function","z":"71402876.f639f8","name":"divide into 10","func":"\n/// divide input into 10\nmsg.payload = msg.payload*0.3; \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":340,"wires":[["1a19230d.5fdabd"]]},{"id":"1a19230d.5fdabd","type":"ui_gauge","z":"71402876.f639f8","name":"","group":"a47f69ac.2deb38","order":3,"width":5,"height":4,"gtype":"donut","title":"Nivel Tanque","label":"Litros","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":340,"wires":[]},{"id":"2c2029bc.d6f6c6","type":"comment","z":"71402876.f639f8","name":"Node-RED Dashboard","info":"Node-RED Dashboard","x":1400,"y":320,"wires":[]},{"id":"3b22f7ff.396648","type":"ui_gauge","z":"71402876.f639f8","name":"","group":"a47f69ac.2deb38","order":5,"width":5,"height":4,"gtype":"donut","title":"Numero de Material","label":"","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":400,"wires":[]},{"id":"db763799.0e4e68","type":"function","z":"71402876.f639f8","name":"divide into 1000","func":"\n/// divide input into 1000\nmsg.payload = msg.payload; \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":500,"wires":[["3b22f7ff.396648","9c658ef8.c6177","d2caa2b1.bb967","d408ae98.46feb"]]},{"id":"9c658ef8.c6177","type":"function","z":"71402876.f639f8","name":"","func":"msg.color=(msg.payload === \"2\")?\"lime\":\"blue\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":480,"wires":[["37cc9723.06f8a8"]]},{"id":"f8dd1e16.b3fda","type":"ui_form","z":"71402876.f639f8","name":"","label":"Conexión modbus TCP/IP con simulación de FACTORY IO e Interfaz gráfica en Nod-Red","group":"a47f69ac.2deb38","order":1,"width":19,"height":1,"options":[{"label":"","value":"","type":"text","required":false,"rows":null}],"formValue":{"":""},"payload":"","submit":"","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":1330,"y":160,"wires":[[]]},{"id":"37cc9723.06f8a8","type":"ui_text","z":"71402876.f639f8","group":"a47f69ac.2deb38","order":18,"width":5,"height":4,"name":"","label":"AZUL","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1410,"y":480,"wires":[]},{"id":"d2caa2b1.bb967","type":"function","z":"71402876.f639f8","name":"","func":"msg.color=(msg.payload === \"5\")?\"lime\":\"green\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":540,"wires":[["4acfc389.ec330c"]]},{"id":"4acfc389.ec330c","type":"ui_text","z":"71402876.f639f8","group":"a47f69ac.2deb38","order":16,"width":5,"height":4,"name":"","label":"VERDE","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1420,"y":540,"wires":[]},{"id":"d408ae98.46feb","type":"function","z":"71402876.f639f8","name":"","func":"msg.color=(msg.payload === \"7\")?\"lime\":\"gray\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":580,"wires":[["ce6f24a1.819e98"]]},{"id":"ce6f24a1.819e98","type":"ui_text","z":"71402876.f639f8","group":"a47f69ac.2deb38","order":20,"width":5,"height":4,"name":"","label":"METAL","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1420,"y":580,"wires":[]},{"id":"4b3785a8.f1510c","type":"modbustcp-server","name":"conexionModfus","host":"192.168.1.160","port":"502","unit_id":"1","reconnecttimeout":"4"},{"id":"a47f69ac.2deb38","type":"ui_group","name":"","tab":"ea2963f7.26856","order":1,"disp":true,"width":19},{"id":"ea2963f7.26856","type":"ui_tab","name":"PZEM-004 Modbus TCP/IP","icon":"dashboard","order":2,"disabled":false,"hidden":false}]